.formContainer {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  padding: 2rem;
  margin-right: 250px; /* Matches the width of the sidebar */
  /* overflow-y: auto; Allows scrolling for the main content */
}

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  /* bottom: 0; */
  width: 250px;
  background: #f7f7f7;
  overflow-y: auto;
  padding: 1rem;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

/* Responsive Sidebar Width */
@media (max-width: 768px) {
  .sidebar {
    width: 200px; /* Narrower sidebar for smaller screens */
  }

  .mainContent {
    margin-right: 200px; /* Match the narrower sidebar */
  }
}
